$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    padding-bottom: 300px;
}

nav.dic-sidebar {
    margin-top: 5px;
    margin-bottom: 5px;
    top: 20px;
}

ul.dic-sidebar {
    li.active > a {
        font-weight: bold;
    }
    li a {
        padding: 5px 10px;
    }
    li li {
        text-indent: 1.5em;
    }
    li li li {
        text-indent: 3em;
    }
    li > ul { display: none; }
    li.active > ul { display: block; }
}

.anim-block {
    height: 100px;
    background-color: #dadada;
    cursor: pointer;
    line-height: 100px;
    text-align: center;
}
